<p>This is the partial for view 3.</p>

<div style="width: 100%; height: auto" id="container">
    <p>TORNS DE BARRA - Barra</p>
</div>
<div class="col-xs-4">
    <p>Barra 1: </p><p style="margin-bottom: 20px"> {{barra1}} </p>
    <p>Barra 2: </p><p style="margin-bottom: 20px"> {{barra2}} </p>
    <p>Barra 3: </p><p style="margin-bottom: 20px"> {{barra3}} </p>
    <p>Barra 4: </p><p style="margin-bottom: 20px"> {{barra4}} </p>
</div>

<div style="height: auto; width: auto">

</div>

<input type="button" value="Add Member" id="addMember" ng-click="add()"><input type="button" value="Reset" id="reset" ng-click="reset()">


</button>
