<p>This is the partial for view 1.</p>

<div style="width: 100%; height: auto" id="container">
    <p>TORNS DE BARRA</p>
</div>
<div class="col-xs-4">
    <p>Responsable 1: </p><p style="margin-bottom: 20px"> {{resp1}} </p>
    <p>Responsable 2: </p><p style="margin-bottom: 20px"> {{resp2}} </p>
    <p>Responsable 3: </p><p style="margin-bottom: 20px"> {{resp3}} </p>
    <p>Responsable 4: </p><p style="margin-bottom: 20px"> {{resp4}} </p>
</div>

<div style="height: auto; width: auto">

</div>

<input type="button" value="Add Member" id="addMember" ng-click="add()"><input type="button" value="Reset" id="reset" ng-click="reset()">


</button>
